body {
  padding: 35px;
  margin: 10px auto;
  position: relative;
}

a {
  color: #00B7FF;
}

input:invalid {
  border: 1px dashed red;
}

input {
  width: 25%;
  padding: 6px 10px;
  margin: 8px 4px;
  box-sizing: border-box;
}

#topline {
  height: 10px;
  color: blue;
  border: 0;
  border-top: 20px solid #ccc;
}

#headerText {
  letter-spacing: 3px;
}

img {
  width: 100%;
}
#chart1left {
  float: left;
  width: 50%;
}

#chart1right {
  float: right;
  width: 50%;
}

h1, h2, h3, h4 {
  font-family: Anton;
  color: #333;
}

h1 {
    text-align: center;
}

span, label, p, input {
  font-family: "Open Sans";
  color: #333;
}

table, th, td {
  border: 1px solid #333;
  font-family: 'Open Sans';
  color: #333;
}

th, td {
  padding: 5px;
  width: 300px;
}

#search_result_wrapper {
  margin: 10px;
}
