h1 {
    text-align: center;
}

#resize {
    width: 200px;
    height: 200px;
    text-align: center;
}

#Drag {
    width: 200px;
    height: 200px;
}

#Drop {
    width: 200px;
    height: 200px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}
