extends layout
block content
  .main.container
    .row
      h2 Visualize Our Admission!
    .row
      .row#chart0
        h4 this is the first chart
        img(src="images/1.gif")
    .row
      .col-md-6#chart1left
        h4 this is the second chart
        img(src="images/1.gif")

      .col-md-6#chart1right
        h4 this is the third chart
        img(src="images/1.gif")

    .row
      .row#chart2
        h4 this is the fourth chart
        img(src="images/1.gif")

    script(src="https://d3js.org/d3.v5.min.js")
    script(src='/javascripts/charts.js')
