extends layout
block content
  .main.container
    .row
      h2= title
      p #{desc}
    .row
      table.columns
        tbody
          tr
            td
              .chart#chart1
            td
              .chart#chart2
            td
              .chart#chart3
          tr
            td
              .chart#chart4
            td
              .chart#chart5
            td
              .chart#chart6
