extends layout
block content
  .main.container
    .row
      h2= title
      p #{desc}
    .row
      table.columns
        tbody
          tr
            td
              #chart1
            td
              #chart2
            td
              #chart3
          tr
            td
              #chart4
            td
              #chart5
            td
              #chart6

  script(src="https://www.gstatic.com/charts/loader.js")
  script(src='/javascripts/dashboard.js')
