doctype html
html
  head
    title Dashboard
    meta(charset='utf-8', ,='', http-equiv='encoding')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js')
  body
    nav.navbar.navbar-inverse.visible-xs
      .container-fluid
    .container-fluid
      .row.content
        .col-sm-6
          .well
            canvas#gre_dist
        .col-sm-6
          .well
            canvas#toefl_dist
      .row
        .col-sm-6
          .well
            h3 Heatmap / Correlation
            #my_dataviz
        .col-sm-6
          .well(style='height: 550px')
            canvas#seatsFilled(style='margin-top: 60px')
      .row
        h4
          p Cuttoff Scores and Average
        .col-sm-4
          .well
            h4 Gre Cutoff
            table.table.table-hover
              tbody
                tr
                  td Quant
                  td 159
                tr
                  td Verbal
                  td 157
                tr
                  td AWA
                  td 4
                tr
                  td Total
                  td 320
        #toefl_table.col-sm-4
          .well
            h4 Toefl/Ielts
            table.table.table-hover
              tbody
                tr
                  td Listening
                  td 39
                tr
                  td Writing
                  td 40
                tr
                  td Analytical
                  td 40
                tr
                  td Speaking
                  td 37
        .col-sm-4
          .well
            h4 Average Scores
            table.table.table-hover
              tbody
                tr
                  td Gre
                  td #{gre_avg}/340
                tr
                  td Toefl
                  td #{toefl_avg}/120
                tr
                  td AWA
                  td 4/5
      #row4.row
      #row5.row
        .col-sm-6
          .well
            h3 Radar Graph
            .container
              select
                option(value='1') Student 1
              select
                option(value='2') Student 2
            canvas#compare_students
    #dashboard_data(style='display: none')
      p jksdhfkjh
      input#gre_dist_data(type='text', name='median', value='#{gre_dist}')
      input#toefl_dist_data(type='text', value='#{toefl_dist}')
    script(src='./javascripts/loadDashboard.js')
