h2 GRE

p The Graduate Record Examination, or GRE, is an important step in the graduate school or business school application process. The GRE is a multiple-choice, computer-based, standardized exam that is often required for admission to graduate programs and graduate business programs (MBA) globally.The GRE is developed and administered by testmaker ETS to provide graduate and business schools with common measures for comparing applicants’ qualifications and preparedness for graduate-level academic work. Graduate school and business school admissions committees look at your GRE score, along with your academic record and supporting materials, to assess your readiness for the rigors of graduate academic study.
