extends layout

block content
  .main.container
    .image-block
      img.className#IdName(src="/images/college.jpg" alt="Title image" class="TitleImage")
    .row
      button(class="NavButton" onclick="redirect('/predict')") Go to Predict
      button(class="NavButton" onclick="redirect('/about')") Go to About
    .row
      h1= title
      p Welcome to #{title}
      .image-block
        img.className#IdName(src="/images/1.gif" alt="Index page image here" class="index-img")

    script.
