extends layout

block content
  .main.container
    .titleImage
      img.className#IdName(src="/images/college.jpg" alt="Title image")
    .row
      button(class="navButton" onclick="redirect('/predict')") Go to Predict
      button(class="navButton" onclick="redirect('/about')") Go to About
      button(onclick="redirect('/login_form')" class="navButton") Go to Login form

    .row
      h1= title
      p Welcome to #{title}
      .image-block
        img.className#IdName(src="/images/1.gif" alt="Index page image here")

    script.
