extends layout

block content
  .main.container
    .titleImage
      img.className#IdName(src="/images/college.jpg" alt="Title image")
    .row
      button(id="loginButton" class="ui-button ui-widget ui-corner-all" onclick="redirect('/login_form')" ) Login
    .row
      h1= title
      p Welcome to #{title}!
      p This is a UCLA admission tool made for prospective students.
      p You can view all the existing admission results, search by querying your scores, and upload your own scores to see your chance of getting an admission!
    .row
      div#tabs
        ul
          li
            a(href="view/all") View
          li
            a(href="search") Search
          li
            a(href="predict") Predict
          li
            a(href="about") About
        div#content
    .row
      .col-md-6
        .div#drag
          img.ui-widget-content#resize(src="/images/table1.png" alt="table 1")
        .div#drop
          img.ui-widget-content#resize(src="/images/table2.gif" alt="table 2")

    script(src='/javascripts/indexWidget.js')
    link(rel='stylesheet',href='/stylesheets/widget.css')
