extends layout

block content
  .main.container
    .titleImage
      img.className#IdName(src="/images/college.jpg" alt="Title image")
    .row
      button(class="ui-button ui-widget ui-corner-all" onclick="redirect('/predict')") Go to Predict
      button(class="ui-button ui-widget ui-corner-all" onclick="redirect('/about')") Go to About
      button(class="ui-button ui-widget ui-corner-all" onclick="redirect('/login_form')" ) Go to Login form
    .row
      h1= title
      p Welcome to #{title}
    .row
      h2#ui-state-default
        Prediction Attributes Infomration
      div#tabs
        ul
          li
            a(href="gre.jade") GRE
          li
            a(href="gre.jade") TOEFL
          li
            a(href="gre.jade") SAT
    .row
      .col-md-6
        .div#Drag
          img.ui-widget-content#resize(src="/images/table1.png" alt="table 1")
        .div#Drop
          img.ui-widget-content#resize(src="/images/table2.gif" alt="table 2")

    script(src='/javascripts/indexWidget.js')
    link(rel='stylesheet',href='/stylesheets/widget.css')
