extends layout

block content
  .main.container
    .row
      button(onclick="redirect('/predict')") Go to Predict
      button(onclick="redirect('/about')") Go to About
    .row
      h1= title
      p Welcome to #{title}
      .image-block
        img.className#IdName(src="/images/1.gif" alt="Index page image here")

    script.
