extends layout

block content
  .main.container
    .row
      hr#topline
    .row
      h1#headerText= title
      p Welcome to #{title}. View admitted scores, or predict yours!
    .row
      div#tabs
        ul
          li
            a(href="charts") Charts
          li
            a(href="view/all") View
          li
            a(href="search") Search
          li
            a(href="predict") Predict
          li
            a(href="about") About
        div#content
      script(src='/javascripts/indexWidget.js')
