doctype html
html
  head
    title= title
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Anton|Baloo+Chettan|Bitter|Germania+One|Open+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/business_logic.js')
    script(src='/javascripts/jquery-ui.min.js')
    link(rel='stylesheet',href='/stylesheets/jquery-ui.min.css')
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/javascripts/dashboard.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js')
  body
    block content
