extends layout

block content
  .main.container
    .row
      button(onclick="redirect()") Go to the main page!
    .row
      h1= title
      p This is the prediction page
      .row
        .col-md-6.col-md-offset-3
          // predict the admission chance
          form(method='POST' action='/predict')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='first and last' name='name')
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='name@email.com' name='email')
            div.form-group
              label(for='sat') SAT Score:
              input#name.form-control(type='text', placeholder='2400' name='sat')
            div.form-group
              label(for='gre') GRE Score:
              input#name.form-control(type='text', placeholder='300' name='gre')
            div.form-group
              label(for='favoriteBook') Comments:
              input#favoriteBook.form-control(type='text', placeholder='comments' name='favoriteBook')
            button.btn.btn-primary(type='submit') Predict
    script.
      function redirect() {
        window.location.href = '/'
      }
