extends layout
block content
  .main.container
    .row
      h2= title
      p This is the prediction page
      .row
        .col-md-6.col-md-offset-3
          // predict the admission chance
          form#predict-form
            div.form-group
              label(for='name') Name:
              br
              input#predict-name.form-control(type='text', placeholder='First and Last Name', name='name', onfocus='clearResult()', required, title="Your first name followed by last name")
            div.form-group
              label(for='email') Email:
              br
              input#predict-email.form-control(type='email', placeholder='name@email.com', name='email', onfocus='clearResult()', title="Your email address")
            div.form-group
              label(for='gre') GRE Score (260-340):
              br
              input#predict-gre.form-control(type='number', name='gre', min='260', max='340', onfocus='clearResult()', required, title="Your latest GRE score")
            div.form-group
              label(for='toefl') TOEFL Score (0-120):
              br
              input#predict-toefl.form-control(type='number', name='toefl', min='0', max='120', onfocus='clearResult()', required, title="Your latest TOEFL score")
            div.form-group
              label(for='comments') Comments:
              br
              input#predict-comments.form-control(type='text', placeholder='comments', name='comments', onfocus='clearResult()', title="Additional information for this prediction")
            button#predict-submit.btn.btn-primary(type='button', class="ui-button ui-widget ui-corner-all" onmouseenter='startAnimation()') Predict
            br
            canvas#predict-canvas(height='10' width='120') Canvas not supported.
            div.result
              p#prediction-result
    script(src='/javascripts/canvas.js')
    script(src='/javascripts/predict.js')
    script(src='/javascripts/predictWidget.js')
