h2 SAT

p The SAT (/ˌɛsˌeɪˈtiː/ ess-ay-TEE) is a standardized test widely used for college admissions in the United States. Since it was first debuted by the College Board in 1926, its name and scoring have changed several times; originally called the Scholastic Aptitude Test, it was later called the Scholastic Assessment Test, then the SAT I: Reasoning Test, then the SAT Reasoning Test, and now, simply the SAT.
