h2 TOEFL

p Test of English as a Foreign Language (TOEFL /ˈtoʊfəl/ TOH-fəl) is a standardized test to measure the English language ability of non-native speakers wishing to enroll in English-speaking universities. The test is accepted by many English-speaking academic and professional institutions. TOEFL is one of the two major English-language tests in the world, the other being the IELTS.
