extends layout
block content
  .main.container
    .row
      h2 View All Admission Results
      p each row should have one update, and one delete button.
      p Upon delete, the div that contains the row should be removed from html
      p on the top of the page should have a section to create a new admission entry, the newly created entry will be inserted at the top of the list of existing admissions
    .row
      h4 Create a new admission:
      form#create-form
        div.form-group
          label(for='toefl') TOEFL Score (0-120):
          input#create_toefl.form-control(type='number', name='toefl', min='0', max='120', required)
        div.form-group
          label(for='gre') GRE Score (260-340):
          input#create_gre.form-control(type='number', name='gre', min='260', max='340', required)
        button#create_one.btn.btn-primary(type='button', class="ui-button ui-widget ui-corner-all") create
    .row
      h4 All Admissions in the database:
      - for (var admission of admissions)
        .row(id=admission._id)
          span TOEFL:
          input(type='text', name='toefl_score', value=admission.toefl_score)
          span GRE:
          input(type='text', name='gre_score', value=admission.gre_score)
          button(type='button', class="ui-button ui-widget ui-corner-all", onclick="deleteDoc(this)") delete
          button(type='button', class="ui-button ui-widget ui-corner-all", onclick="updateDoc(this)") update
    script(src='/javascripts/docOperations.js')
